doctype html
html
 head
   title First Webapp
body
  h1 To Do List
  h3 Don't forget to
  .to-do-display
    -
    each item in list
      li= item
  form(class="add-to-do" action="add-todo" method="post")
    input(type="text" placeholder="type here" name="toDo")
    button(type="submit") Add
